:root {
  --primary: rgb(240, 240, 240);
  --secondary: rgb(31, 31, 31);
  --cell-focus: rgb(40, 40, 40);
  --bg-color: rgb(54, 54, 54);
  --third: rgb(128, 128, 128);
  --fourth: rgb(185, 185, 185);
  --add-minus-btn: rgb(212, 212, 212);
}

* {
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

.dark {
}

/* DARK MODE STYLE */
/* 
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;} */

/* body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
} */

body.dark {
  background-color: var(--primary);
  color: var(--secondary);
  --primary: rgb(31, 31, 31);
  --secondary: rgb(240, 240, 240);
  --cell-focus: rgb(231, 231, 231);
  --bg-color: rgb(185, 185, 185);
  --third: rgb(128, 128, 128);
  --fourth: rgb(54, 54, 54);
  --add-minus-btn: rgb(40, 40, 40);

  /* --primary: rgb(31, 31, 31);
  --secondary: rgb(240, 240, 240);
  --cell-focus: rgb(40, 40, 40) rgb(212, 212, 212);
  --bg-color: rgb(54, 54, 54) rgb(185, 185, 185);
  --third: rgb(128, 128, 128);
  --fourth: rgb(185, 185, 185) rgb(54, 54, 54);
  --add-minus-btn: rgb(212, 212, 212) rgb(40, 40, 40); */
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.dark-mode-btn {
  /* outline: 1px solid red; */
  align-self: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 10% 5%;
  font-size: 0.75rem;
}

input[type="text"] {
  text-transform: uppercase;
}

input[type="number"],
input[type="text"] {
  display: flex;
  width: 100%; /* Expand inputs to fill cell width */
  padding: 5px 10px; /* Add padding for better readability */
  border: none; /* Add a border */
  text-align: center;
  flex-wrap: wrap;
  background-color: transparent;
  color: var(--secondary);
}

input[type="number"]:focus,
input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

td {
  /* width: 100%; Expand inputs to fill cell width */
  padding: 5px 10px; /* Add padding for better readability */
  border: 1px solid #ccc;
  border-collapse: separate;
  margin: 0;
  gap: 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-radius: 0.5rem;
}

thead {
  font-weight: 500;
}

table td,
table th {
  border: 1px solid var(--secondary);
}

td:focus-within {
  border: 2px solid var(--cell-focus);
  border-collapse: collapse;
}

.subject-name > td:nth-child(1) > input::placeholder {
  --third: rgb(185, 185, 185);
  color: var(--third);
  opacity: 1;
}

/* .subject-name > td:nth-child(1) > input::-ms-input-placeholder */

.tbl-buttons {
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
  padding-bottom: 16px;
  gap: 1rem;
}

#remove-row-btn {
  /* margin-bottom: 16px; */
}

#add-row-btn {
  /* margin-bottom: 16px; */
}

/*
#add-row-btn {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

#add-row-btn:hover,
#remove-row-btn:hover {
  background-color: var(--primary);
}

#add-row-btn:focus,
#remove-row-btn:hover {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#add-row-btn:focus-visible,
#remove-row-btn:focus-visible {
  box-shadow: none;
}

.plus-button,
.minus-button {
  border: 2px solid var(--add-minus-btn);
  background-color: var(--primary);
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
  cursor: pointer;

  /* &:after,
  &:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    height: 1em;
    width: 0.2em;
  }

  &:after {
    height: 0.2em;
    width: 1em;
  } */
}

.plus-button:after,
.plus-button:before,
.minus-button:after,
.minus-button:before {
  content: "";
  display: block;
  background-color: var(--third);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-button:after,
.minus-button:after {
  height: 0.2em;
  width: 1em;
}

.plus-button:before {
  height: 1em;
  width: 0.2em;
}

.plus-button--small {
  font-size: 12px;
}

.plus-button--large {
  font-size: 22px;
}

#calculate-gwa-btn {
  width: 100%;
}

#calculate-gwa-btn,
#clear-btn {
  display: inline-block;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  background-color: #0070d2;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  /* color: var(--primary); */
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.gwa {
  font-weight: 500;
  color: var(--secondary);
}

@media (min-width: 640px) {
  .container {
    font-size: 1rem;
  }

  #calculate-gwa-btn:hover,
  #clear-btn:hover {
    background-color: #005fb2;
    border-color: #005fb2;
  }
}

@media screen and (max-width: 640px) {
  body {
    padding: 64px 0;
    /* background-color: red; */
  }

  #calculate-gwa-btn:active,
  #clear-btn:active {
    background-color: #005fb2;
    border-color: #005fb2;
  }

  .container {
    margin: 64px 5%;
    overflow-y: scroll;
  }

  .minus-button,
  .plus-button {
    font-size: 0.75rem;
  }

  .checkbox-label {
    background-color: #111;
    /* outline: 1px solid red; */
    width: 36px;
    height: 16px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fa-moon {
    color: #f1c40f;
    font-size: 0.5rem;
  }

  .fa-sun {
    color: #f39c12;
    font-size: 0.5rem;
  }

  .checkbox-label .ball {
    background-color: #fff;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(20px);
  }
}
